body{
	font-size:14px;
}

body, button, input,select, textarea,h1 ,h2, h3, h4, h5, h6 {
	font-family:Microsoft JhengHei,Tahoma,Helvetica,Arial,"\5b8b\4f53", sans-serif;
}

.active {
   background:#D4D4D4; 
   color:dimgray;
   border-radius:6px;
   padding-left:3px;
   padding-right:3px;
}